/* ------------------- Estilo de la vista mobile -------------------------- */
/* ------------------------------------------------------------------------ */

/* Estilo general del documento */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lateef', cursive;
}

body, header, main, footer {
    display: block;
    position: relative;
    width: 100%;
}


/* ---------------------------------- */
/* Estilo del header y sus elementos */
/* ---------------------------------- */

header {
    height: 480px;
    background-image: url(img/fondo04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Seccion de estilo para los div del header */

.barra_menu {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    height: 50px;
    background-color: rgba(223, 13, 26, 0.8);
    text-align: center;
    vertical-align: middle;
    z-index: 5;
}

.columna_33 {
    width: 33.33%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

/*Seccion de estilo para el logo*/

img.logo {
    width: auto;
    height: 50px;
    opacity: 0.85;
    border-radius: 50%;
    box-shadow: -2px 2px 5px grey, 0 0 10px gold;
}

/*Seccion de estilo para el menu*/


.icono_menu {
    font-size: 1.8em;
    text-align: center;
    padding: 10px;
    color: snow;
}

.contenedor_menu {
    visibility: hidden;
    z-index: 6;
    width: 250%;
    transform: translateX(-90px);
}

.menu {

    text-align: left;
    font-size: 1.3em;
    z-index: 3;
}

li a:link {
    display: block;
    color: seashell;
    font-size: 1.3em;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 50px;
    background-color: rgba(49, 10, 10, 0.8);
    text-shadow: -1px 2px 10px gold;
}

.active a {
    color: seashell;
    background-color: rgba(9, 27, 87, 0.75);
    text-shadow: -1px 2px 5px black;
}

.active a:hover {
    color: aliceblue;
    text-decoration: none;
}

.seleccionable a:hover {
    background-color: rgba(0, 166, 253, 0.6);
    color: snow;
    text-shadow: -1px 2px 3px black;
}

.btn_menu:hover ul.menu li a {
    visibility: visible;
}

/* Seccion de estilo para los iconos de las redes sociales */

.icono {
    height: 50px;
    width: 100%;
}

.icono_redes {
    visibility: visible;
    display: block;
    float: left;
    text-align: center;
    padding: 13px 5px;
    font-size: 1.2em;
    color: snow;
}

.icono:hover .icono_redes {
    cursor: pointer;
    text-shadow: -2px 2px 5px grey;
    font-size: 1.5em;
}

/* Seccion de estilo para el banner */

.banner {
    width: 100%;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.banner p {
    font-family: 'Merienda', cursive;
    padding: 30% 0 70%;
    text-align: center;
    font-size: 3em;
    color: cornsilk;
    text-shadow: 2px 3px 4px red;
    z-index: 2;
}


/* ---------------------------------- */
/* Estilo del main y sus elementos */
/* ---------------------------------- */

main {
    height: 400px;
    background-color: rgba(0, 18, 32, 1);
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-decoration: none;
}

.galeria {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.enlace a:link {
    display: block;
    position: relative;
    padding: 0 10px;
    bottom: 47px;
    background-color: rgba(196, 12, 19, 0.63);
    border-radius: 0 0 20px 20px;
    color: blanchedalmond;
    text-shadow: 1px 1px 5px snow;

}

.enlace a:hover {
    color: skyblue;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.enlace a:active {
    font-size: 1.1em;
    font-weight: 400;
    color: #ffbe6f;
    text-shadow: 2px 2px 2px black, 1px 1px 5px snow;
    text-decoration: none;
}

.navigator,
.item {
    height: 100%;
    width: 100%;
}

.item img {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    opacity: 0.7;
    box-shadow: 0 2px 10px snow;
}

.item:hover img {
    opacity: 1.0;
}

/* ---------------------------------- */
/* Estilo del footer y sus elementos */
/* ---------------------------------- */

footer {
    height: 180px;
    background-color: rgba(223, 13, 26, 0.8);
}

.footer {
    padding: 20px;
}

.footer p {
    padding: 0 20px;
    width: 100%;
    height: 20px;
    display: block;
    position: relative;
    color: snow;
    font-size: 1.2em;
}


/* ------------------- Estilo de la vista tablet -------------------------- */
/* ------------------------------------------------------------------------ */


@media screen and (min-width: 650px) {

    /* ---------------------------------- */
    /* Estilo del header y sus elementos */
    /* ---------------------------------- */


    /* Barra de menu */

    .barra_menu {
        height: 75px;
    }

    /* Logo */

    img.logo {
        height: 75px;
    }

    /* Menu */

    .icono_menu {
        font-size: 3.0em;
    }

    .contenedor_menu {
        width: 280%;
        transform: translateX(-33%);
        margin-top: -10px;
    }

    .menu li {
        display: inline;
        position: relative;
        width: 25%;
        float: left;
    }

    li a:link {
        font-size: 1.7em;
        padding: 5px 0;
        text-align: center;
        height: 70px;
    }

    /* Iconos de redes sociales */

    .icono_redes {
        padding: 15px 10px;
        font-size: 2.5em;
    }

    .icono:hover .icono_redes {
        font-size: 2.8em;
    }

    /* Banner */

    header {
        height: 600px;
    }

    .banner {
        height: 525px;
    }

    .banner p {
        padding: 20% 0 80%;
        font-size: 4.5em;
    }

    /* ---------------------------------- */
    /* Estilo del main y sus elementos */
    /* ---------------------------------- */

    main {
        height: 650px;
        font-size: 3em;
    }

    .galeria {
        padding: 5% 15%;
    }

    .enlace a:link {
        bottom: 70px;
    }

    .enlace a:active {
        font-size: 1.5em;
        bottom: 90px;
    }

    /* ---------------------------------- */
    /* Estilo del footer y sus elementos */
    /* ---------------------------------- */

    footer {
        height: 210px;
    }

    .footer p {
        font-size: 1.8em;
    }

}

/* --------------------- Estilo de la vista PC ---------------------------- */
/* ------------------------------------------------------------------------ */


@media screen and (min-width: 1250px) {
    
    /* ---------------------------------- */
    /* Estilo del header y sus elementos */
    /* ---------------------------------- */


    /* Barra de menu */

    .barra_menu {
        height: 150px;
    }

    /* Logo */

    img.logo {
        height: 125px;
        transform: translate(-25px, 12px);
    }

    /* Menu */

    .icono_menu {
        visibility: hidden;
    }

    .contenedor_menu {
        visibility: visible;
        width: 200%;
        transform: translateX(-5%);
    }

    li a:link {
        font-size: 1.7em;
        background-color: rgba(0, 0, 0, 0);
    }

    li.seleccionable{
        border-left: 1px solid snow;    
    }
    
    li.seleccionable a:hover {
        border-radius: 0 25px 0;
    }
    
    li.active a:link{
        color: gainsboro;
       border-radius: 0 25px 0;
        background-color: rgba(0, 0, 0, 0.50);
    }
    
    li.active a:hover{
        cursor: default;
    }
    
    /* Iconos de redes sociales */

    .icono_redes {
        padding: 15px 30px;
    }

    /* Banner */

    header {
        height: 750px;
    }

    .banner {
        height: 600px;
    }

    .banner p {
        font-size: 5em;
    }
  
    
}
