/* Estilo general del documento */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lateef', cursive;
}

body,
header,
main,
footer {
    display: block;
    position: relative;
    width: 100%;
}

body {
    height: 100vh;
    background-image: url(img/fondo02.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ------------------- Estilo de la vista mobile -------------------------- */
/* ------------------------------------------------------------------------ */


/* ---------------------------------- */
/* Estilo del header y sus elementos */
/* ---------------------------------- */

header {
    display: block;
    position: relative;
    height: 480px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Seccion de estilo para los div del header */

.barra_menu {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    height: 12.5%;
    background-color: rgba(223, 13, 26, 0.8);
    text-align: center;
    vertical-align: middle;
    z-index: 5;
}

.col-33-40,
.col-33-60 {
    width: 33.33%;
    height: 100%;
    float: left;
}

/*Seccion de estilo para el logo*/

img.logo {
    width: auto;
    height: 90%;
    margin: 2.5%;
    opacity: 0.90;
    border-radius: 50%;
    box-shadow: -2px 2px 5px grey, 0 0 10px gold;
}

/*Seccion de estilo para el menu*/

#btn_menu {
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.icono_menu {
    font-size: 2.2em;
    width: auto;
    height: auto;
    margin: auto;
    color: snow;
}

.icono_menu:active {
    transform: scale(0.9);
}

.contenedor_menu {
    position: absolute;
    z-index: -10;
    width: 80%;
    left: 10%;
    margin: auto;
    transform: translateY(-150%);
}

.hide {
    animation-name: desaparece;
    animation-duration: 2s;
}

@keyframes desaparece {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-120%);
    }
}

.mostrar {
    transform: translateY(0);
    display: block;
    animation-name: aparece;
    animation-duration: 2s;
}

@keyframes aparece {
    from {
        opacity: 0;
        top: -100px;
    }

    to {
        opacity: 1.0;
        top: 100%;
    }
}

.menu {
    text-align: left;
    font-size: 1.3em;
    list-style-type: none;
}


li a:link {
    display: block;
    color: seashell;
    font-size: 1.3em;
    text-decoration: none;
    padding: 5px 50px;
    background-color: rgba(49, 10, 10, 0.8);
    text-shadow: -1px 2px 10px gold;
}

.active a {
    color: seashell;
    background-color: rgba(9, 27, 87, 0.75);
    text-shadow: -1px 2px 5px black;
}

.active a:hover {
    color: aliceblue;
    text-decoration: none;
}

.seleccionable a:hover {
    background-color: rgba(0, 166, 253, 0.6);
    color: snow;
    text-shadow: -1px 2px 3px black;
}

li a:visited {
    text-decoration: none;
    color: seashell;
}

/* Seccion de estilo para los iconos de las redes sociales */

.contendor-iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icono {
    display: block;
    position: relative;
    height: auto;
    width: 25%;
    margin: auto;
}

.icono:active {
    transform: scale(0.9);
}

.icono_redes {
    font-size: 1.75em;
    margin: auto;
    color: snow;
}

.icono:hover .icono_redes {
    cursor: pointer;
    text-shadow: -2px 2px 5px grey;
    transform: scale(1.1);
}

/* Seccion de estilo para el banner */

.banner {
    width: 100%;
    height: 87.5%;
    background-color: rgba(80, 113, 198, 0.4);
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner p {
    display: block;
    position: relative;
    margin: auto;
    height: 20%;
    width: auto;
    font-family: 'Merienda', cursive;
    font-size: 3em;
    color: cornsilk;
    text-shadow: 2px 3px 4px red, 0 0 10px black;
    text-align: center;
}


/* ---------------------------------- */
/* Estilo del main y sus elementos */
/* ---------------------------------- */

main {
    display: block;
    position: relative;
    height: 520px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(18, 35, 77, 0.8);
}

main h2 {
    display: block;
    position: relative;
    padding: 5px 10px;
    font-size: 1em;
    color: azure;
}


.galeria1 {
    display: none;
}

.galeria2 {
    display: block;
    position: relative;
    width: 100%;
    height: 90%;
    text-align: center;
}

.navigator,
.item {
    margin: auto;
    padding: 7.5%;
    height: 100%;
    width: 100%;
}

.item img {
    height: 90%;
    border-radius: 20px;
    opacity: 1.0;
    box-shadow: -2px 2px 5px black, 0 0 10px 5px snow;
}

.item:hover img {
    opacity: 0.8;
}

.enlace a:link {
    display: block;
    position: relative;
    padding: 0 10px;
    bottom: 47px;
    background-color: rgba(196, 12, 19, 0.63);
    border-radius: 0 0 20px 20px;
    color: blanchedalmond;
    text-shadow: 1px 1px 5px snow;

}

.enlace a:hover {
    color: skyblue;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.enlace a:active {
    font-size: 1.1em;
    font-weight: 400;
    color: #ffbe6f;
    text-shadow: 2px 2px 2px black, 1px 1px 5px snow;
    text-decoration: none;
}

.anuncio{
    padding: 5%;
    color:antiquewhite;
    text-align: center;
}
.anuncio img{
    width: 100%;
}

.login{
    text-align: center;
    color: aliceblue;
    font-size: 0.8em;
}

.login i{
    border: 2px solid white;
    padding: 15px;
    border-radius: 50%;
    font-size: 2em; 
}

.img-cursos{
    display: block;
    position: absolute;
    opacity: 0.4;
    left: 0;
    top: 10%;
    z-index: 10;
}


/* ---------------------------------- */
/* Estilo del footer y sus elementos */
/* ---------------------------------- */

footer {
    height: 210px;
    background-color: rgba(223, 13, 26, 0.8);
}

.footer {
    padding: 20px 10px;
}

.footer p {
    padding: 0 20px;
    width: 100%;
    height: 20px;
    display: block;
    position: relative;
    color: snow;
    font-size: 1.15em;
}


/* ------------------- Estilo de la vista tablet -------------------------- */
/* ------------------------------------------------------------------------ */


@media screen and (min-width: 650px) {

    /* ---------------------------------- */
    /* Estilo del header y sus elementos */
    /* ---------------------------------- */


    /* Menu */

    .icono_menu {
        font-size: 3.0em;
    }

    .contenedor_menu {
        transform: translateY(-225%);
    }

    .mostrar {
        transform: translateY(0);
    }

    .menu li {
        display: inline;
        position: relative;
        width: 25%;
        float: left;
    }

    li a:link {
        font-size: 1.7em;
        padding: 5px 0;
        text-align: center;
        height: 70px;
    }

    /* Iconos de redes sociales */

    .icono_redes {
        padding: 15px 10px;
        font-size: 2.5em;
    }

    .icono:hover .icono_redes {
        font-size: 2.8em;
    }

    /* Banner */

    header {
        height: 600px;
    }

    .banner {
        height: 525px;
    }

    .banner p {
        font-size: 4.5em;
    }

    /* ---------------------------------- */
    /* Estilo del main y sus elementos */
    /* ---------------------------------- */

    main {
        height: 750px;
        font-size: 3em;
    }

    main h2 {
        padding: 10px 25px;
        font-size: 1.2em;
    }

    .galeria2 {
        height: 85%;
        padding: 0 15%;
    }

    .item img {
        height: 100%;
    }

    .enlace a:link {
        bottom: 70px;
    }

    .enlace a:active {
        font-size: 1.5em;
        bottom: 90px;
    }

    /* ---------------------------------- */
    /* Estilo del footer y sus elementos */
    /* ---------------------------------- */

    footer {
        height: 210px;
    }

    .footer p {
        font-size: 1.8em;
    }

}

/* --------------------- Estilo de la vista PC ---------------------------- */
/* ------------------------------------------------------------------------ */


@media screen and (min-width: 1024px) {

    /* ---------------------------------- */
    /* Estilo del header y sus elementos */
    /* ---------------------------------- */

    header {
        height: 820px;
    }

    /* Barra de menu */

    .barra_menu {
        height: 15%;
    }

    /* Logo */

    .col-33-40 {
        display: flex;
        justify-content: space-around;
    }

    img.logo {
        margin: auto;
        height: 80%;
    }

    /* Menu */

    #btn_menu {
        display: none;
    }

    .contenedor_menu {
        display: block;
        width: 60%;
        transform: translate(0);
        right: -20%;
        bottom: 0;
        z-index: 6;
    }

    li a:link {
        width: 100%;
        height: 100%;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0);
    }

    li.seleccionable {
        border-left: 1px solid snow;
    }

    li.seleccionable a:hover {
        border-radius: 0 25px 0;
    }

    li.seleccionable a:active {
        transform: scale(0.9);
    }

    li.active a:link {
        border-radius: 0 25px 0;
        background-color: rgba(0, 0, 0, 0.50);
    }

    li.active a:hover {
        cursor: default;
    }


    /* Iconos de redes sociales */

    .contendor-iconos {
        transform: translateY(-20%)
    }

    /* Banner */

    .banner {
        height: 85%;
    }

    .banner p {
        font-size: 5em;
    }

    /* ---------------------------------- */
    /* Estilo del main y sus elementos */
    /* ---------------------------------- */

    main {
        height: 1400px;
        font-size: 2.5em;
    }


    main h2 {
        padding: 20px 30px;
        font-size: 1.8em;
        color: azure;
    }

    .galeria2 {
        display: none;
    }

    .galeria1 {
        display: block;
        position: relative;
        height: 95%;
        width: 100%;
    }

    .img_header {
        display: block;
        position: relative;
        width: 100%;
        height: 30%;
    }

    #img1 {
        position: relative;
        left: 15%;
        top: 10%;
        width: 650px;
        height: 230px;
        background-image: url(img/pintura_porcelana.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.9;
        transition: opacity 0.5s, transform 1s;
        box-shadow: 4px 4px 4px 4px grey;
    }

    #img1:hover {
        cursor: default;
        opacity: 1;
        transform: scale(1.05);
    }

    #img1 a {
        position: relative;
        left: 85%;
        top: 85%;
        text-align: center;
        color: black;
        padding: 0 20px;
        background-color: white;
        box-shadow: 1px 5px 10px 5px grey;
        transition: opacity 0.5s;
        opacity: 0;
        border-radius: 15px;
    }

    #img1 a::after,
    #img3 a::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 25%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }

    #img1:hover a {
        opacity: 1;
    }

    .barra {
        display: flex;
        justify-content: space-around;
        position: relative;
        width: 100%;
        height: 60%;
        text-align: center;
    }

    .barra .up,
    .barra .down {
        position: relative;
        width: 230px;
        height: 650px;
        float: left;
        box-shadow: 4px 4px 4px 4px grey;
        opacity: 0.85;
        transition: opacity 1s, transform 1s;
    }

    .up:hover,
    .down:hover {
        cursor: default;
        opacity: 1;
        transform: scale(1.05);
    }

    .barra .up a,
    .barra .down a {
        position: absolute;
        color: black;
        background-color: white;
        text-align: center;
        padding: 0 20px;
        box-shadow: 1px 5px 10px 5px grey;
        transition: opacity 0.5s;
        opacity: 0;
        border-radius: 25px;
    }

    .barra .up:hover a,
    .barra .down:hover a {
        opacity: 1;
    }

    #img2 {
        background-image: url(img/pintura_bastidor.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        top: -5%;
    }

    #img2 a {
        width: 350px;
        top: 1%;
        left: 70%;
    }

    #img2 a::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    #img3 {
        background-image: url(img/acuarela.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        top: 15%;
    }

    #img3 a {
        width: 200px;
        bottom: -5%;
        left: 60%;
    }

    #img4 {
        background-image: url(img/mix_media.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
    }

    #img4 a {
        width: 200px;
        bottom: 40%;
        left: 10%;
    }

    #img4 a::after,
    #img5 a::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 60%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }

    #img5 {
        background-image: url(img/repujado_estanyo.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        top: 10%
    }

    #img5 a {
        width: 330px;
        bottom: -5%;
        left: -60%;
    }

    #img1 a:hover,
    #img2 a:hover,
    #img3 a:hover,
    #img4 a:hover,
    #img5 a:hover {
        cursor: pointer;
        color: #9c0900;
        font-weight: 400;
        text-shadow: -1px 1px 5px #556fb5;
        text-decoration: none;
    }

    #img1 a:active,
    #img2 a:active,
    #img3 a:active,
    #img4 a:active,
    #img5 a:active {
        cursor: pointer;
        text-shadow: 0 0 5px rgba(0, 12, 19, 0.8);
        color: #2a0048;
        font-size: 0.95em;
    }

}
