*{
    box-sizing: border-box;
}

/*Estilo general de los div del header*/

.contenedor_header{
    display: block;
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 0;
    height: 50px;
    background-color: rgba(223, 13, 26, 0.8);
    align-content: center;
    align-items: center;
    vertical-align: middle; 
}

.columna_33{
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    float: left;
}

/*Seccion de estilo para el menu*/


i.icono_menu{
    font-size: 1.8em;
    padding-top: 10px;
    color: snow;
    border-color: darkslategrey;
    border-radius: 20%;
}

ul.menu{
    margin: auto;
    padding: 0;
    list-style-type: none;
    visibility:hidden;
    box-shadow: -10x 10px 5px darkslategray;
}

li a {
    text-align: center;
    display: block;
    z-index: 2;
    width: 100%;
    background-color: rgba(222, 184, 135, 0.7);
    color: darkslategray;
    text-decoration: none;
}

.active{
    background-color: #1b4822;
    color: floralwhite;
    text-shadow: -1px 2px 3px gold;
}

.seleccionable:hover{
    background-color:bisque;
    color: black;
    text-shadow: -1px 2px 3px red;
}

.btn_menu:hover ul.menu{
    visibility: visible;
}

/*Seccion de estilo para el logo*/

img.logo{
    width: auto;
    height: 50px;
    opacity: 0.7;
    border-radius: 50%;
}

/*Seccion de estilo para la informacion de la empresa*/

div.columna_33 p,i {
    margin: auto;
    text-align: justify;
    padding-left: 10px;
    font-size: 0.8em;
    color: snow;
}

/*Seccion de estilo para el banner*/

main{
    width: 100%;
}


div.banner figure img{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
}

div.banner p{
    display:block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 1.8em;
    z-index: 1;
    color: cornsilk;
    text-shadow: 2px 3px 4px red;
}


/*Seccion de estilo para la galeria de enlaces*/

div.slider{
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}

div.header, div.slider{
    height: 350px;
    overflow: hidden;
    align-items: center;
    align-content: center;
}


@media screen and (min-width: 650px) {

    .contenedor_header {
        height: auto;
    }
    
    .btn_menu{
        visibility: hidden;
    }
    
    .columna_75{
        width: 75%;
        text-align: left;
        background-image: url(img/...); /* Agregar una imagen de fondo como banner*/
    }
    
    .columna_25{
        width: 25%;
    }
}



@media screen and (min-width: 1250px) {
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
    
    img{
        width: 250px;
        height: 500px;
        border: solid 2px blue;
        border-radius: 25px;
    }
    
    div.slider{
        width: 25%;
    }
}